
<div class="offcanvas offcanvas-start bg-transparent border-0" style="border-bottom-right-radius: 42px;" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header bg-primary text-white" style="    border-top-right-radius: 42px;">
      <h5 class="offcanvas-title" id="staticBackdropLabel">Document Stats</h5>
      <button type="button" class="btn-close text-white display-5" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body bg-white" >
      <div class="container fw-bolder fs-4">
        <div class="row align-items-center justify-content-between text-primary">
          <div class="col-8 text-start ">
              <i class="fa-solid fa-file-lines pe-2"></i> Logs
          </div>
          <div class="col-4 text-end">
            <span id="logs_counter" ></span>
        </div>
        </div>
        <div class="row align-items-center justify-content-between fw-bolder py-3" style="color: #ff771d;">
          <div class="col-8 text-start ">
              <i class="fa-solid fa-desktop pe-2"></i> OS
          </div>
          <div class="col-4 text-end">
            <span id="os_counter" ></span>
        </div>
        </div>
        <div class="row align-items-center justify-content-between fw-bolder text-success">
          <div class="col-8 text-start ">
              <i class="fa-solid fa-city pe-2"></i> City
          </div>
          <div class="col-4 text-end">
            <span id="city_counter" ></span>
        </div>
        </div>
        <div class="row align-items-center justify-content-between fw-bolder py-3 text-info">
          <div class="col-8 text-start ">
              <i class="fa-solid fa-earth-americas pe-2"></i> Country
          </div>
          <div class="col-4 text-end">
            <span id="country_counter" ></span>
        </div>
        </div>
        <div class="row align-items-center justify-content-between fw-bolder text-danger">
          <div class="col-8 text-start ">
              <i class="fa-solid fa-location-dot pe-2"></i> Coordinates
          </div>
          <div class="col-4 text-end">
            <span id="coordinates_counter" ></span>
        </div>
        </div>
        <div class="row align-items-center justify-content-between fw-bolder py-3 text-warning">
          <div class="col-8 text-start ">
              <i class="fa-solid fa-globe pe-2"></i> Region
          </div>
          <div class="col-4 text-end">
            <span id="region_counter" ></span>
        </div>
        </div>
      </div>
    </div>
    <div class="offcanvas-header bg-white " style="border-bottom-right-radius: 42px;" >
    </div>
  </div>    