{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block styles %}
<style>

  body {
      margin: 0;
      font-family: neue-haas-unica,sans-serif;
      font-size: .875rem;
      font-weight: 400;
      line-height: 1.5;
      color: #a4b1cd;
      text-align: left;
      background-color: #141d2b;
  }
  </style>


<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/gridjs/mermaid.min.css' %}" />

<link rel="stylesheet" href="{% static  'assets/vendor/aos/aos.css' %}" />






{% endblock %}

{% block content %}


<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav >
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
      <section class="section dashboard">
        <div class="row"  >
          <!-- Ip Packets -->
          <div class="col-3">
            <div class="card info-card sales-card"  

            data-aos="fade-down"
            data-aos-offset="200"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="true"
            data-aos-anchor-placement="top-center"
           
            >
                <div class="card-body">
                  <h5 class="card-title">Packets </h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="fa-regular fa-envelope"></i>
                    </div>
                    <div class="ps-3">
                      <h6 id="document_counter_h" class="h6 " data-end="{{ packets_counter }}">{{ packets_counter }}</h6>
                    </div>
                    <a href="{% url 'search_url' %}" class="btn btn-primary stretched-link bg-transparent border-0 "></a>
                  </div>
                </div>
  
              </div>
          </div>
          <!-- Src Port with highest number of packets -->
          <div class="col-3">
            <div class="card info-card sales-card" 
            data-aos="fade-up"
            data-aos-offset="200"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="tru"
            data-aos-anchor-placement="top-center"
            >
                <div class="card-body">
                  <h5 class="card-title">Src Port </h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <svg height="1em" width="1em" viewBox="0 -1 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>network_3 [#1116]</title>
                        <desc>Created with Sketch.</desc>
                        <defs>
                        </defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Dribbble-Light-Preview" transform="translate(-140.000000, -3280.000000)" fill="#000000">
                                <g id="icons" transform="translate(56.000000, 160.000000)">
                                    <path d="M92,3124 L96,3124 L96,3120 L92,3120 L92,3124 Z M92,3138 L96,3138 L96,3134 L92,3134 L92,3138 Z M100,3138 L104,3138 L104,3134 L100,3134 L100,3138 Z M84,3138 L88,3138 L88,3134 L84,3134 L84,3138 Z M87,3132 L85,3132 L85,3128 L93,3128 L93,3126 L95,3126 L95,3128 L103,3128 L103,3132 L101,3132 L101,3130 L95,3130 L95,3132 L93,3132 L93,3130 L87,3130 L87,3132 Z" id="network_3-[#1116]">
                    
                    </path>
                                </g>
                            </g>
                        </g>
                      </svg>
                    </div>
                    <div class="ps-3">
                      <h6 id="document_counter_h_2" class="h6 " >
                        <span data-end="{{ src_port_highes_packet_sent_value }}" id="document_counter_h_2_counter">
                          {{ src_port_highes_packet_sent_value }}

                        </span> / {{ src_port_highes_packet_sent_label }}</h6>
                    </div>
                  </div>
                </div>
  
              </div>
          </div>
          <!-- Dst Port with highest number of packets -->
          <div class="col-3">
            <div class="card info-card sales-card"
            
            data-aos="fade-down"
            data-aos-offset="200"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="true"
            data-aos-anchor-placement="top-center"
            >
                <div class="card-body">
                  <h5 class="card-title">Dst Port </h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <svg width="1em" height="1em" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
                        <title>connection-arrow</title>
                        <desc>Created with Sketch.</desc>
                        <g id="connection-arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                            <rect width="1em" height="1em" fill="white" fill-opacity="0.01"/>
                            <g id="编组-2" transform="translate(4.000000, 3.953742)" stroke="#000000" stroke-width="4">
                                <g id="编组" transform="translate(0.000000, 4.046258)">
                                    <path d="M36.9898007,0.0264752559 L8.18181818,0.0264752559 C5.45454545,0.0264752559 0,1.550592 0,7.96725867 C0,14.3839253 5.45454545,16 8.18181818,16 L31.9938556,16 C34.7211284,16 40,17.5679494 40,23.9846161 C40,30.4012828 34.7211284,32.0029211 31.9938556,32.0029211 L2.06499237,32.0029211" id="Path-307">
                    
                    </path>
                                    <polyline id="Path-309" points="4.04568993 27.99261 0.0673983189 32.0591365 4.04568993 36">
                    
                    </polyline>
                                </g>
                                <polyline id="Path-309" transform="translate(36.032050, 4.003695) scale(-1, 1) translate(-36.032050, -4.003695) " points="38.0211961 5.32907052e-15 34.0429045 4.06652653 38.0211961 8.00739003">
                    
                    </polyline>
                            </g>
                        </g>
                    </svg>
                    </div>
                    <div class="ps-3">
                      <h6 id="document_counter_h_3" class="h6 " >
                        <span data-end="{{ dst_port_highes_packet_sent_value }}" id="document_counter_h_3_counter">
                          {{ dst_port_highes_packet_sent_value }}

                        </span> / {{ dst_port_highes_packet_sent_label }}</h6>
                    </div>
                  </div>
                </div>
  
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="card  " 
            data-aos="fade-left"
            data-aos-offset="0"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="true"
            data-aos-anchor-placement="top-center"
            >
              <div class="card-body  bg-transparent">
                <div id="chart"></div>
              </div>  
            </div>
            <div class="card " 
            data-aos="fade-down"
            data-aos-offset="0"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="true"
            data-aos-anchor-placement="top-center"
            >
              <div class="card-body  bg-transparent">
                <div id="chart_2"></div>
              </div>  
            </div>
            <div class="card " 
            data-aos="fade-down"
            data-aos-offset="0"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="true"
            data-aos-anchor-placement="top-center"
            >
              <div class="card-body bg-transparent">
                <div id="chart_3"></div>
              </div>  
            </div>
            <div class="card " 
            data-aos="fade-up"
            data-aos-offset="0"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="true"
            data-aos-anchor-placement="top-bottom"
            >
              <div class="card-body bg-transparent">
                <div id="chart_4"></div>
              </div>  
            </div>
            
          </div>
          <div class="col-6">
            <div class="card bg-transparent p-0" 
            data-aos="fade-right"
            data-aos-offset="0"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="true"
            data-aos-anchor-placement="top-center"
            >
              <div class="card-body p-0 bg-transparent">
                  <div id="table"></div>
              </div>  
          </div>
          </div>
        </div>
      </section>
      
      
      {{ initial_packets_json|json_script:"initial_packets_json" }}
      {{ highest_packets_sent|json_script:"highest_packets_sent" }}
      {{ highest_packets_received|json_script:"highest_packets_received" }}
      {{ top_ten_src_prs|json_script:"top_ten_src_prs" }}
      {{ top_ten_dst_prs|json_script:"top_ten_dst_prs" }}
</main>



{% comment %}


{{ initial_documents_json|json_script:"initial_documents_json" }}

initial_documents_json.forEach(element => {
  initial_documents_json_list.push([
                  element.fields.name,
                  // element.fields.uploaded_at,
                  // element.destination_ip,
                  // element.source_ip,
                  // element.payload,
                  convertUTCtoLocal(element.fields.uploaded_at),
                  gridjs.html(`<a href="/files/details/${element.pk}" class="btn btn-primary bg-transparent border-0 text-color-green btn-sm fw-bolder "> <i class="fa-solid fa-eye"></i> Details</a>`)
                  // ,gridjs.html(`<button class="btn btn-primary bg-transparent border-0 text-primary fw-bolder fs-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop" data-target-id=${element.id} data-target-title=${element.name}> <i class ="fa-regular fa-circle-dot pe-2 " ></i> Stats </button>`)
              ]);
          });

          
  new gridjs.Grid({
    columns: [ "Name", "Uploaded At", "Action"],
    style : {
      'table': {
        'width': '100% !important'
      }
    }
    ,
    search: false,
    sort: false,
    pagination: false,
    // server: {
    //   url: '/search/json',
    //   then: data => JSON.parse(data.initial_packets).map(packet => [ packet.id, packet.destination_ip, packet.source_ip, packet.payload ]),
    //   total: data => data.count
    // } ,
    data: () => {
      return new Promise(resolve => {
        setTimeout(() =>
          resolve(initial_documents_json_list), 10);
      });
    },
    className: {
      table: 'table-body'
    },
    language: {
      'search': {
        'placeholder': 'Searching ...'
      }
    }
  }).render(document.getElementById("table"));
  
   
{% endcomment %}

{%  endblock %}


{% block scripts %}

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static  'assets/vendor/gridjs/gridjs.production.min.js' %}"></script>
<script src="{% static  'assets/js/utils.js' %}"></script>

<script src="{% static 'assets/js/flowtype.min.js' %}"></script>


<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script>
  AOS.init();
</script>

<script>
  const initial_packets_json = JSON.parse(JSON.parse(document.getElementById('initial_packets_json').textContent));
  const highest_packets_sent = JSON.parse(JSON.parse(document.getElementById('highest_packets_sent').textContent));
  const highest_packets_received = JSON.parse(JSON.parse(document.getElementById('highest_packets_received').textContent));
  const top_ten_src_prs = JSON.parse(JSON.parse(document.getElementById('top_ten_src_prs').textContent));
  const top_ten_dst_prs = JSON.parse(JSON.parse(document.getElementById('top_ten_dst_prs').textContent));
  // console.debug(top_ten_dst_prs)

  // console.debug(highest_packets_received)

  let initial_packets_json_list = [];
  initial_packets_json.forEach(element => {
    initial_packets_json_list.push([
          // convertUTCtoLocal(element.fields.timestamp),
          element.fields.source_ip,
          element.fields.destination_ip,
          element.fields.src_port,
          element.fields.dst_port,
          element.fields.payload,
      ]);
  });
new gridjs.Grid({
  columns: [ 'Src IP', 'Dst IP', "Src Port", "Dst Port", {
    name : "Payload",
    // 'width': '50%'
  }],
  style : {
    'table': {
      'width': '100% !important'
    }
  }
  ,
  search: false,
	sort: false,
	pagination: false,
  // server: {
  //   url: '/search/json',
  //   then: data => JSON.parse(data.initial_packets).map(packet => [ packet.id, packet.destination_ip, packet.source_ip, packet.payload ]),
  //   total: data => data.count
  // } ,
  data: () => {
    return new Promise(resolve => {
      setTimeout(() =>
        resolve(initial_packets_json_list), 10);
    });
  },
	className: {
    table: 'table-body'
  },
	language: {
    'search': {
      'placeholder': 'Searching ...'
    }
  }
}).render(document.getElementById("table"));



</script>

<script>
  let demo = new CountUp('document_counter_h',  24.02, $("#document_counter_h").attr("data-end"), 0, 2, {
      onCompleteCallback: ()=> {console.debug("completed")}
    });
if (!demo.error) {
  demo.start();
} else {
  console.error(demo.error);
}
</script>

<script>
  let demo2 = new CountUp('document_counter_h_2_counter',  24.02, $("#document_counter_h_2_counter").attr("data-end"), 0, 2, {
      onCompleteCallback: ()=> {console.debug("completed")}
    });
if (!demo2.error) {
  demo2.start();
} else {
  console.error(demo2.error);
}
</script>

<script>
  let demo3 = new CountUp('document_counter_h_3_counter',  24.02, $("#document_counter_h_3_counter").attr("data-end"), 0, 2, {
      onCompleteCallback: ()=> {console.debug("completed")}
    });
if (!demo3.error) {
  demo3.start();
} else {
  console.error(demo3.error);
}
</script>


<!-- flowtype -->

<script>
  $('#document_counter_h, #document_counter_h_2, #document_counter_h_3').flowtype({
   minimum   : 500,
   maximum   : 1200,
   minFont   : 25,
   maxFont   : 50,
   fontRatio : 40
});
</script>



<!-- apex chart -->

<!-- src ip addresses cahrt -->
<script>

const sourceIPArray = highest_packets_sent.map(item => item.source_ip);
const countArray = highest_packets_sent.map(item => item.count);


  var options = {
    title : {
      text : "Most Packets Sent By  IP Address",
      style: {

      color:  '#899bbd'
    },
    },
    colors: ['#9fef00', '#ef492d'],
    grid  : {
      show : false
    },
  chart: {
    type: 'bar'
  },
  series: [{
    name: 'Packets Per IP Address',
    data: countArray
  }],
  xaxis: {
    categories: sourceIPArray,
    labels: {
      show: true,
      style: {
        colors: '#899bbd',
      },
    }
  },
  yaxis: {
    labels: {
      style: {
        colors: '#899bbd',
      },
    }
  }
}

var chart = new ApexCharts(document.querySelector("#chart"), options);

chart.render();
</script>

<!-- dst ip addresses cahrt -->
<script>

const destinationIPArray = highest_packets_received.map(item => item.destination_ip);
const countdestionationArray = highest_packets_received.map(item => item.count);


  var options = {
    title : {
      text : "Most Packets Received By IP Address",
      style: {

      color:  '#899bbd'
    },
    },
    colors: [ '#ef492d'],
    grid  : {
      show : false
    },
  chart: {
    type: 'bar'
  },
  plotOptions: {
          bar: {
            borderRadius: 4,
            horizontal: true,
          }
        },
  series: [{
    name: 'Packets Per IP Address',
    data: countdestionationArray
  }],
  xaxis: {
    categories: destinationIPArray,
    labels: {
      show: true,
      style: {
        colors: '#899bbd',
      },
    }
  },
  yaxis: {
    labels: {
      style: {
        colors: '#899bbd',
      },
    }
  }
}

var chart = new ApexCharts(document.querySelector("#chart_2"), options);

chart.render();
</script>

<!-- Top 10 highest src ports -->
<script>

const src_port_array = top_ten_src_prs.map(item => item.src_port);
const count_src_port_arrray = top_ten_src_prs.map(item => item.count);
let customLegendFormatter = (seriesName, opts) => {
  return `
        <div class="legend-item-label">${seriesName}</div>
        <div class="legend-item-value">(${opts.w.globals.series[opts.seriesIndex]})</div>
    `;
};
var options = {
  title : {
      text : "Most Packets Sent By  Src Port",
      style: {

      color:  '#899bbd'
    },
    },
    series: count_src_port_arrray,
    chart: {
    width: 450,
    height: 450,
    type: 'pie',
  },
  labels: src_port_array,
  responsive: [{
    breakpoint: 480,
    options: {
      chart: {
        width: 200
      },
      legend: {
        position: 'bottom',
        labels: {
          colors: '#899bbd',
          useSeriesColors: true
        },
      }
    }
  }],
  legend : {
    labels : {
      colors : '#899bbd'
    },
    formatter: customLegendFormatter,
    
  },
  yaxis: {
    labels: {
      style: {
        colors: '#899bbd',
      },
    }
  },
  xaxis: {
    labels: {
      style: {
        colors: '#899bbd',
      },
    }
  }
  };
var chart = new ApexCharts(document.querySelector("#chart_3"), options);
chart.render();
</script>

<!-- Top 10 highest dst ports -->
<script>

const dst_port_array = top_ten_dst_prs.map(item => item.dst_port);
const count_dst_port_array = top_ten_dst_prs.map(item => item.count);
// let customLegendFormatter = (seriesName, opts) => {
//   return `
//         <div class="legend-item-label">${seriesName}</div>
//         <div class="legend-item-value">(${opts.w.globals.series[opts.seriesIndex]})</div>
//     `;
// };
var options = {
  title : {
      text : "Most Packets Received By Dst Port",
      style: {

      color:  '#899bbd'
    },
    },
    series: count_dst_port_array,
    chart: {
    width: 450,
    height: 450,
    type: 'donut',
  },
  labels: dst_port_array,
  responsive: [{
    breakpoint: 480,
    options: {
      chart: {
        width: 200
      },
      legend: {
        position: 'bottom',
        labels: {
          colors: '#899bbd',
          useSeriesColors: true
        },
      }
    }
  }],
  legend : {
    labels : {
      colors : '#899bbd'
    },
    formatter: customLegendFormatter,
    
  },
  yaxis: {
    labels: {
      style: {
        colors: '#899bbd',
      },
    }
  },
  xaxis: {
    labels: {
      style: {
        colors: '#899bbd',
      },
    }
  }
  };
var chart = new ApexCharts(document.querySelector("#chart_4"), options);
chart.render();
</script>



{% endblock %}


