

<nav aria-label="Page navigation example">
    <ul class="pagination  justify-content-start pagination-lg" id="pagination_counter">
        <p class="pagination-summary text-white" id="pagination-counter">sadasds</p>
    </ul>
    <ul class="pagination justify-content-end pagination-lg" id="pagination_block">
        <li class="page-item first" ><button class="page-link previous"  data-page="1" data-previous="true" disabled="true">Previous</button></li>
        <!-- <li class="page-item active" data-parent="1"><a class="page-link" href="#">1</a></li>
        <li class="page-item" data-parent="2"><a class="page-link" href="#">2</a></li>
        <li class="page-item" data-parent="3"><a class="page-link" href="#">3</a></li> -->
        <li class="page-item last" ><button class="page-link next" data-page="1"  data-next="true" >Next</button></li>
    </ul>
    </nav>


